# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C object files
*.o
*.obj

# Editor & IDE settings
.vscode/
.idea/
*.swp
*.bak

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Python virtual environment
venv/

# Build artifacts
firmware/build/
*.elf
*.map
temp_*
dump_*.bin
test_hdr*.bin
test_code*.bin
test_ph*.bin
test_img2_*.bin
