# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C object files
*.o
*.obj

# Editor & IDE settings
.vscode/
.idea/
*.swp
*.bak

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
